@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Main Color */
:root {
  --lightpurple: #535353;
  --poppins: "Poppins", sans-serif;
  --black: #000000;
  --abril: "Abril Fatface", cursive;
  --lato: "Lato", sans-serif;
  --purple: #c0c0c0;
  --darkgray: #6e6c78;
  --white: #ffffff;
  --lightgray: #898796;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

img {
  display: block;
  max-width: 100%;
}

figure,
blockquote {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
}

h1 {
  line-height: 0.9;
}
colo h2 {
  line-height: 1;
}

::selection {
  color: var(--lightpurple);
  background: CornflowerBlue;
  background-color: var(--black);
}

button {
  box-sizing: border-box;
  cursor: pointer;
}

button:focus-visible {
  outline: 2px solid var(--lightpurple);
}

.btn {
  background: var(--lightgray);
  padding: 1rem;
  margin-block: 1rem;
}

/*Navbar*/

nav {
  background-color: white;
  outline: 2px solid var(--purple);
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 9999;
}

#navbar-open {
  display: none;
  border: none;
  padding: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  letter-spacing: 1px;
  transition: background-color 200ms ease;
}

nav a {
  display: block;
  text-decoration: none;
  padding: 1rem 1.5rem;
  font-size: 20px;

  text-transform: uppercase;
  color: inherit;
}

.nav-item:hover {
  background-color: #ffffff;
}

nav .logo {
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  order: -1;
}

/* dropdown */
nav ul.dropdown {
  width: 100%;
  background: #aaaaaa;
  position: absolute;
  z-index: 999;
  display: none;
}

nav ul.dropdown li {
  display: block;
  padding-bottom: 0;
}

nav a:hover {
  background: #b9dbff;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;

  font-weight: 10px;
}

nav li:hover ul.dropdown {
  display: block;
  width: 140px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
nav ul:hover.dropdown li {
  display: block;
  padding-bottom: 0;
}

.main-section-tugas {
  padding: 9rem;
}

.main-section__text p {
  max-width: 75ch;
}

.main-section__text h2 {
  text-transform: capitalize;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 1000;
  line-height: 60px;
  font-size: 50px;
  text-align: center;
}

.main-section__text h2:after {
  content: "";
  display: block;
  border-bottom: 7px solid var(--purple);
  width: 10%;
  margin-inline: auto;
}

.main-section__text span {
  color: var(--purple);
}

.main-section__content {
  max-width: 150ch;
  margin-inline: auto;
}

.spantext {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 1000;
  line-height: 100px;
}

.spantext span {
  font-family: var(--poppins);
  color: #7099c2;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  background-image: url(picture/baru1.png);
  padding-top: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  padding-left: 68px;
}

#home h1 .cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}

#home h2 {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 60px;
}

#home h1 {
  margin-block: 0 0.2rem;
  text-transform: capitalize;
  font-family: "Raleway", Sans-serif;
  font-weight: 900;
  font-size: 75px;
  color: black;
  overflow: hidden;
  padding-bottom: 10px;
}

#home .lead {
  padding-top: 20px;
  font-size: 25px;
  margin-block: 0;
  font-family: "Raleway", sans-serif;
}

#home .lead1 {
  padding-bottom: 20px;
  padding-right: 100px;
  margin-block: 0;
  font-family: "Raleway", sans-serif;
}

.sosial-media {
  display: flex;
  gap: 1rem;
}

.sosial-media a {
  text-decoration: none;
  color: var(--lightgray);
}

.sosial-media a:hover {
  color: var(--purple);
}

@keyframes blink {
  0% {
    background-color: #ccc;
  }

  49% {
    background-color: #ccc;
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}

/*About*/

#about {
  background-image: url(picture/backkk.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  padding-top: 50px;
  text-align: center;
  overflow-x: hidden;
}

#about p {
  margin-inline: auto;
}

.slide-container {
  aspect-ratio: 16 / 9;
  max-width: 75ch;
  margin-inline: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
}

.slide {
  transition: transform 200ms ease;
  min-width: 100%;
}

#picture {
  padding-top: 50px;
}

.slide-picture {
  height: 100%;
}

.slide-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.dot {
  --_dot-size: 1rem;
  background: #444;
  color: #eee;
  border-radius: 50%;
  width: var(--_dot-size);
  height: var(--_dot-size);
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.dot.active {
  background: dodgerblue;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button-container .btn {
  user-select: none;
  border-radius: 20%;
}

.button-container button:hover {
  background: #ddd;
  cursor: pointer;
}

.button-container button:active {
  transform: translateY(5px);
}

/*project foto foto koordinator*/

#project {
  background-repeat: no-repeat;
  overflow: hidden;
  padding-top: 90px;
}

.main-section-project {
  min-height: 20vh;
  padding: 0 100px 0 100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
  gap: 1rem;
  justify-content: center;
  position: relative;
  align-items: center;
}

.cardd {
  border: 2px solid var(--purple);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.705);
  border-radius: 0.5rem;
  overflow: hidden;
  justify-content: center;
  width: 100%;
}
/* hover content */
.content {
  cursor: pointer;
  width: 32.5%;
  height: 32%;
  border-radius: 0.5rem;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content:hover {
  opacity: 1;
}
.content2 {
  cursor: pointer;
  width: 32.7%;
  height: 32%;
  border-radius: 0.5rem;
  top: 0;
  left: 444px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content2:hover {
  opacity: 1;
}
.content3 {
  cursor: pointer;
  width: 32.5%;
  height: 32%;
  border-radius: 0.5rem;
  top: 0;
  left: 885px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content3:hover {
  opacity: 1;
}
.content4 {
  cursor: pointer;
  width: 32.5%;
  height: 32%;
  border-radius: 0.5rem;
  top: 259px;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content4:hover {
  opacity: 1;
}
.content5 {
  cursor: pointer;
  width: 32.5%;
  height: 32%;
  border-radius: 0.5rem;
  top: 259px;
  left: 885px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content5:hover {
  opacity: 1;
}
.content6 {
  cursor: pointer;
  width: 32.5%;
  height: 32%;
  border-radius: 0.5rem;
  top: 515px;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content6:hover {
  opacity: 1;
}
.content7 {
  cursor: pointer;
  width: 32.7%;
  height: 32%;
  border-radius: 0.5rem;
  top: 512px;
  left: 444px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content7:hover {
  opacity: 1;
}
.content8 {
  cursor: pointer;
  width: 32.7%;
  height: 32%;
  border-radius: 0.5rem;
  top: 515px;
  left: 885px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: 0.6s;
}
.content8:hover {
  opacity: 1;
}

.p-content {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 5px;
  color: #ddd;
}

.gallery img {
  max-width: 100%;
  justify-content: center;
}

.img-title {
  position: absolute;
  width: 100%;
  height: 100%;
}
section#project.main-section {
  justify-content: center;
  align-items: center;
}

/*Tugas Tugas*/
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40ch, 100%), 1fr));
  gap: 2rem;
  column-gap: 10pc;
  justify-content: center;
}
.card-container-7 {
  display: grid;
  align-items: center;
  justify-content: center;
}

.card {
  background: #a9a9a9;
  border: 2px solid var(--purple);
  padding: 1.5rem 1.5rem;
  border-radius: 10px;
  transition:
    transform 0.4s,
    color 0.4s,
    background-color 0.4s;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  background: #7099c2;
}

.card-title {
  justify-content: center;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-text {
  font-size: 15px;
  color: #ffffff;
}

/*Testimonial*/
#testimonial {
  padding: 4rem 0;
  padding: 0 80px 0 80px;
}

.quote {
  background-color: var(--lightpurple);
  border-radius: 0.5rem;
  color: #ddd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quote-text-bunda {
  padding: 2rem;
  max-width: 75ch;
}

.quote-text-bunda figcaption {
  padding-block: 1rem;
  font-style: italic;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  padding-bottom: 15px;
}

.quote__author {
  font-weight: bold;
}

.quote__image {
  display: flex;
  justify-content: center;
}

/*  presiden      */
#presiden {
  padding: 4rem 0;
  background-image: url(picture/new.png);
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.main-section__content_quote {
  border-top-right-radius: 50%;
}

.quotee {
  border-top-right-radius: 50%;
  border-radius: 0.5rem;
  color: #000000;

  display: flex;
  justify-content: left;
  align-items: center;
}

.quote-text-jon {
  z-index: 1;
  padding-left: 100px;
  position: relative;
}

.quote-text-jon blockquote {
  font-family: "Raleway", sans-serif;
  width: 80%;
}

.quote-text-bunda {
  padding: 2rem;
  max-width: 75ch;
}

.quote-text-jon figcaption {
  padding-block: 1rem;
  font-style: italic;
  padding-right: 50px;

  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.quote__author {
  font-weight: bold;
  position: relative;
}

.presiden_img {
  display: flex;
  position: relative;
  order: -1;
}

/* ALL OSIS */

#semua {
  padding: 4rem 0;
  background-repeat: no-repeat;
  justify-content: center;
  background-size: cover;
  position: relative;
}

.img-osis {
  padding-right: 50px;
}

.main-section__content_quote {
  border-top-right-radius: 50%;
}
.quoteeX {
  border-top-right-radius: 50%;
  border-radius: 0.5rem;
  color: #000000;

  display: flex;
  justify-content: right;
  align-items: center;
  flex-wrap: wrap;
}

.quote-text-jon blockquote {
  font-family: "Raleway", sans-serif;
}
.quote__text {
  padding: 2rem;
  max-width: 100ch;
}

.quote-text-jon figcaption {
  padding-block: 1rem;
  font-style: italic;
  padding-right: 50px;

  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.title-osis {
  font-family: "Raleway", sans-serif;
  padding-right: 100px;
}

.semua_img {
  display: flex;
  position: relative;
  order: 2;
  left: 0;
}

/* waves */
.waves {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}

/* NEXT SLIDE */

#wwd3 {
  background-image: url(darkbph.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  margin-top: 0;
  margin-bottom: 100px;
}
.main-section-bph {
  min-height: 50vh;
}

.main-section {
  min-height: 60vh;
}

/* VERSE KOOR TEXT */

/* === removing default button style ===*/

.headbutton {
  justify-content: center;
  display: flex;
  position: relative;
  overflow-x: hidden;
  padding-top: 100px;
}
.buttonkoor {
  padding: 0;
  width: 9em;
  margin: 0;
  height: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

/* button styling */
.buttonkoor {
  --border-right: 8px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #3766ff;
  --fs-size: 100px;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 3px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 4px var(--animation-color);
}
/* hover */
.buttonkoor:hover .hover-text {
  width: 120%;

  filter: drop-shadow(0 0 20px var(--animation-color));
}
/* NEXT SLIDE */

#wwd2 {
  background-image: url(darkbph.png);
  background-position: center;
  background-attachment: fixed;
  background-size: 100%;
  margin-top: 0;
  padding: 0;
  margin-bottom: 100px;
}
/* VERSE TEXT DONE */

.wrappernext {
  justify-content: center;
  filter: none;
  float: center;
  text-decoration: none;
  display: flex;
  position: relative;
  top: 150px;
  font-size: auto;
  z-index: 1;
}

.koor1next {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  float: left;
  margin-bottom: 0%;
  text-shadow: 10px 3px 4px #121481;
  bottom: 0%;
  color: #ffffff;
}

.color {
  text-decoration: none;
}

button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em 2em 1em 4em;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 4px 6px 0px black;
  border: 4px solid;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  z-index: 100;
  transition:
    box-shadow 250ms,
    transform 250ms,
    filter 50ms;
}
button:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 10 px 0px black;
}
button:active {
  filter: saturate(0.75);
}
button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #5ab2ff;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 250ms;
}
button:hover::after {
  transform: translateX(0);
}
.bgContainer {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  max-width: 43%; /* adjust this if the button text is not proper */
  font-size: 2em;
  font-weight: 900;
}
.bgContainer span {
  position: relative;
  transform: translateX(-100%);
  transition: all 250ms;
}
.button:hover .bgContainer > span {
  transform: translateX(0);
}
.arrowContainer {
  padding: 1em;
  margin-inline-end: 1em;
  border: 4px solid;
  border-radius: 50%;
  background-color: #5ab2ff;
  position: relative;
  overflow: hidden;
  transition:
    transform 250ms,
    background-color 250ms;
  z-index: 100;
}
.arrowContainer::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background-color: #121481;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 250ms ease-in-out;
}
button:hover .arrowContainer::after {
  transform: translateX(0);
}
button:hover .arrowContainer {
  transform: translateX(5px);
}
button:active .arrowContainer {
  transform: translateX(8px);
}
.arrowContainer svg {
  vertical-align: middle;
}

.color {
  color: #00215e;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-size: 40px;
}

.btn--submit {
  z-index: -1;
}
/*Contact*/
#contact {
  background-image: url(img/contact.png);
  background-size: cover;
  padding-top: 100px;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-alert {
  border-radius: 0.5rem;
  padding: 2rem;
  margin: auto;
}

.form-alert::backdrop {
  backdrop-filter: blur(1rem);
}

#form {
  flex-basis: 75ch;
}

#form .form-label {
  font-family: var(--poppins);
  display: block;
  padding-block: 1rem 0.5rem;
}

#form input,
textarea {
  all: unset;
  box-sizing: border-box;
  border: none;
  border-radius: 0.5rem;
  outline: 2px solid var(--purple);
  padding: 1rem;
  color: inherit;
  display: block;
  width: 100%;
}

#form textarea {
  height: 35ch;
}

#form :is(input:focus-visible, textarea:focus-visible) {
  outline: 2px solid var(--lightpurple);
}

#form .btn {
  display: none;
}

#form .btn.show {
  display: block;
}

/* Footer */

footer {
  background-color: var(--purple);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.coptext {
  padding-right: 10px;
}

@supports (background-clip: text) and (-webkit-text-fill-color: transparent) {
  .navbar .navbar-nav .nav-item a {
    background-image: linear-gradient(
      to right,
      var(--purple),
      var(--lightpurple)
    );
    background-size: 200%;
    transition: 0.5s ease-out;

    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (max-width: 65em) {
  #navbar-open {
    display: block;
    cursor: pointer;
  }

  #nav-link-container {
    background: #ddd;
    border-bottom: 2px solid var(--purple);
    width: 100%;
    position: absolute;
    top: 100%;
    transition: translate 200ms ease;
    translate: -100%;
  }

  #nav-link-container.active {
    translate: 0;
  }
  nav li:hover ul.dropdown {
    height: 400px;
  }

  nav ul {
    flex-direction: column;
  }
  .main-section__text h2 {
    text-transform: capitalize;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 1000;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
  }
  .card-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
  }

  /***********BIG MODIFITE *****************/

  #home .lead {
    padding-top: 30px;
    font-size: 20px;
    letter-spacing: 1px;
    margin-block: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 60px;
  }

  #home .lead1 {
    margin-top: -50px;
    font-weight: 0;
    font-size: 15px;
    letter-spacing: 2px;

    margin-block: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  }
  .hero__text {
    margin-top: -150px;
  }

  .head-navbar {
    height: 70px;
    z-index: 9999;
  }
  .hero__text {
    position: absolute;
  }
  .sosial-media {
    display: flex;
    margin-bottom: -500px;
    gap: 1rem;
  }

  /* logo osis&mpk */
  .logo-osis {
    width: 70px;
    height: 60px;
  }
  .logo-mpk {
    width: 60px;
    height: 40px;
  }

  /* text osis dan mpk */
  .spantext {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 100px;
  }

  .spantext span {
    font-family: var(--poppins);
    color: #7099c2;
  }

  /* button nav */
  .button {
    padding-right: 5px;
  }

  #navbar-open {
    margin-right: 30px;
  }

  nav ul.dropdown li {
    display: block;
    margin-bottom: -15px;
  }
  /* text welcome */
  .typed-text {
    font-size: 50px;
    color: #ababab;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
  }
  .card-text {
    font-size: 10px;
    color: #ffffff;
  }

  /* add padding*/
  #about {
    padding-top: 0;
    margin-bottom: -120px;
  }
  #picture {
    padding: 0;
  }

  article.card {
    padding: 5px;
  }
  ol.card-text {
    padding: 20px 10px 20px 20px;
  }

  .img {
    margin: 0 20px 0 20px;
  }
  .img-title {
    position: relative;
  }

  section#project.main-section {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .main-section-content {
    padding: 0 4rem 0 4rem;
  }
  .main-section-project {
    padding: 2rem;
  }
  .main-section {
    min-height: 50vh;
  }

  .galleryimg {
    position: relative;
  }

  .cardd {
    position: relative;
  }

  .img-bun {
    width: 300px;
  }
  .img-jon {
    position: relative;
    padding-left: 130px;
    width: 400px;
    margin-top: -150px;
  }

  .quote__text {
    padding: 70px 50px 0 50px;
  }
  #testimonial {
    padding: 0 30px 0 30px;
  }
  #semua {
    padding: 2rem;
  }
  .quote-text-jon {
    padding: 0 70px 0 50px;
  }
  .quotes__image {
    margin-top: -100px;
  }

  .quotee {
    border-top-right-radius: 50%;
    border-radius: 0.5rem;
    color: #000000;
    display: block;
  }

  .color {
    font-size: 45px;
  }

  .main-section-tugas {
    padding: 3rem;
  }

  .cardd aos-init aos-animate {
    padding: 20px;
  }
  .cardd {
    position: relative;

    width: 300px;
  }
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    gap: 2rem;
    padding-left: 25px;
  }
  footer {
    padding: 10px;
  }

  /*********** DONE BIG MODIFITE *****************/

  .main-section,
  #home {
    padding: 3rem;
  }

  .form-container {
    flex-direction: column;
  }
  /* VERSE START */
  #wwd3 {
    margin-bottom: 200px;
  }

  .bgContainer {
    font-size: 90%;
    font-weight: 600;
  }
  .button {
    padding: 0%;
  }
  .headbutton {
    padding-right: 40px;
    z-index: 2;
    font-size: 30px;
    padding-top: 200px;
    position: relative;
  }
  .buttonkoor {
    --fs-size: 40px;
  }
  .buttonkoor {
    --fs-size: 34px;
  }
}
